.back-col {
    background-color: rgb(214, 141, 141);
}

.padding-around {
    padding: 20px;
}

.marg-top {
    margin-top: 110px;
    text-align: center;
}


/* HEADER */

.header-full-width {
    height: 105px;
    background-color: #2c3e50;
    line-height: 105px;
    /* text-align: center; */
}


/* SECTION ONE */

.section-one-hero-container {
    background-color: #1abc9c;
    height: 678px;
}


/* <!-- SECTION TWO PORTFOLIO --> */

.section-two-portfolio-hero-container {
    height: 100vh;
    background-color: #fff;
}