.back-col {
    background-color: rgb(214, 141, 141);
}

.padding-around {
    padding: 20px;
}

.marg-top {
    margin-top: 70px;
    text-align: center;
}

.align-left {
    text-align: left;
}


/* HEADER */

.header-full-width {
    height: 105px;
    background-color: #2c3e50;
    line-height: 105px;
    /* text-align: center; */
}


/* SECTION ONE */

.green-hero-container {
    background-color: #1abc9c;
    height: 610px;
}

.box-hero {
    /* height: 450px; */
}


/* <!-- SECTION TWO PORTFOLIO --> */

.hero-white-container {
    /* height: 90vh; */
    background-color: #fff;
    margin-bottom: 100px;
}


/* <!-- SECTION THREE - GREEN CONTAINER 2 --> */


/* <!-- SECTION FOUR - CONTACT ME --> */


/* <!-- SECTION FIVE --> */

.section-five-container-full-width {
    background-color: #2c3e50;
    /* height: 305px; */
}