/* UTILITY */

.back-col {
    background-color: rgb(214, 141, 141);
}

.padding-around {
    padding: 20px;
}

.marg-top {
    margin-top: 70px;
    text-align: center;
}

.align-left {
    text-align: left;
}

.margin-bottom {
    margin-bottom: 70px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    ;
}

a:hover {
    text-decoration: none;
}

.white-text {
    color: white;
}


/* -------------------------- */


/* HEADER */

.navbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar.navbar-default {
    background-color: #2c3e50;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-brand {
    font-size: 42px;
    line-height: 50px;
}

.pull-right {
    list-style: none;
    margin: 30px;
}

.navbar>.container>.navbar-header>a,
.menu-header li a {
    color: white;
}

.menu-header li a {
    font-size: 25px;
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        line-height: 28px;
    }
}


/* SECTION ONE */

.green-hero-container {
    background-color: #1abc9c;
    /* height: 610px; */
}

.avatar {
    height: 250px;
    background-color: #1abc9c;
}

.avatar+h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.hr-inline {
    display: inline-block;
    width: 150px;
    border-bottom: 10px solid white;
    border-top: 0px;
    border-radius: 8%;
    text-align: center;
}

.hr-inline:first-child {
    margin-right: 20px;
}

.star {
    font-size: 80px;
    color: white;
    border-color: white;
    text-align: center;
}

.star-logo-text {
    display: none;
}


/* display star logo after 698px */

@media screen and (min-width: 698px) {
    .star-logo-text {
        display: block;
    }
}


/* font scale down under734px */

@media screen and (max-width: 734px) {
    .avatar+h1 {
        font-size: 30px
    }
}

.back-col.box-hero.center-margin div:last-child {
    color: white;
    font-size: 32px;
    margin: 20px 0;
}


/* <!-- SECTION TWO PORTFOLIO --> */

.portfolio-text {
    color: #2c3e50;
    font-size: 50px;
    font-weight: 700;
}

.align-center {
    text-align: center;
}

.blue-color {
    color: #2c3e50;
}

.hr-inline.blue-color {
    border-bottom: 10px solid #2c3e50;
}

.star-715 {
    display: none;
}


/* star shows up after 714px */

@media screen and (min-width: 715px) {
    .star-715 {
        display: block;
    }
}

.hero-white-container {
    background-color: #fff;
    margin-bottom: 100px;
}

.center-margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.black-bg {
    color: black;
}

.row .col-xs-12 img {
    max-width: 100%;
    border-radius: 10px;
}

.containar-images {
    position: relative;
}

.overlay-img {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s;
}

.overlay-img:hover {
    opacity: 0.8;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: center;
    color: white;
}


/* <!-- SECTION THREE - GREEN CONTAINER 2 --> */

.text-increase {
    font-size: 17px;
}

.btn-container {
    text-align: center;
}

.btn-default {
    width: 236px;
    height: 56px;
    background-color: #1abc9c;
    border: 2px solid white;
    color: white;
    transition: color .2s ease-in, border ease-in .2s;
}

.btn-default:hover {
    border: transparent;
    color: black;
}

.fa-download {
    padding: 0 15px;
}


/* <!-- SECTION FOUR - CONTACT ME --> */


/* <!-- SECTION FIVE --> */

.section-five-container-full-width {
    background-color: #2c3e50;
    /* height: 305px; */
}


/* <!-- SECTION SIX --> */

.container-full-width {
    height: 100px;
    background-color: #1a252f;
    line-height: 100px;
    text-align: center;
    color: white;
}